extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    .block-main
        +alert-success("5000")

        h3 Trang chủ
        div #{user.fullName}
        div #{role.decentralization}