/* styles.css */
body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-content {
    display: flex;
    flex: 1;
}

header {
    width: 100%;
}

sider {
    flex: 1;
}

.main {
    flex: 1;
    padding: 20px;
}