.background-color{
  background-color: #0dcaf0;
}
.background-color:hover{
  background-color: #85dff1;
}
.form-group {
  padding: 14px 0;
}
/* header */
.body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.main {
  background-color: #ececec;
}
.header {
  background: #fff;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 76px;
}
.header .inner-logo a {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  padding-left: 30px;
}
.header .inner-function div {
  background: #c1bfbf;
  margin-left: 33px;
  border-radius: 6px;
  background-color: #0dcaf0;
  width: 96px;
  height: 24px;
  text-align: center;
  font-weight: 500;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

/* end header */

/* body */
.body .sider {
  width: 176px;
  padding: 18px;
  background: #fff;
  color: #fff;
  height: calc(100vh - 176px);
  position: fixed;
  top: 76px;
  left: 0;
}
.body .main {
  /* margin: 15px; */
  padding: 20px 0 0 14px;
  position: relative;
  left: 176px;
  width: calc(100% - 176px);
  height: calc(100% - 76px);
}
.block-main {
  background-color: white;
  border-radius: 6px;
  height: 100%;
  padding: 26px 16px;
  overflow-y: auto;
  max-height: 100vh;
  box-sizing: border-box;
}
/* End body */

/* sider */
.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sider .inner-menu ul li a {
  color: #000;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #515151;
  text-decoration: none;
  text-align: center;
  font-size: small;
  margin-bottom: 10px;
  border: none;
}
.sider .inner-menu ul li a.menu-item {
  color: #000;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #515151;
  text-decoration: none;
  text-align: center;
  font-size: small;
  margin-bottom: 10px;
  border: none;
}

.sider .inner-menu ul li a.menu-item.active {
  background-color: #2b93dd;
  color: #ffffff;
}
/*End sider */

/* avatar user */
.round-avatar {
  width: 40px;
  height: 40px; 
  border-radius: 50%;
  object-fit: cover; 
  object-position: center;
  overflow: hidden;
}
/* avatar user */

th {
  font-size: 16px;
  font-weight: 500;
}

.role-quanly {
  background: #c1bfbf;
  border: 1px solid rgb(239 200 200);
  border-radius: 6px;
  background-color: #fbecf2;
  width: 78px;
  height: 24px;
  text-align: center;
  font-weight: 500;
}
.role-bacsi {
  border: 1px solid rgb(177 227 213);
  border-radius: 6px;
  background-color: #d8fff5;
  width: 78px;
  height: 24px;
  text-align: center;
  font-weight: 500;
}
.role-staff {
  border: 1px solid rgb(216 204 127 / 44%);
  border-radius: 6px;
  background-color: #fff7e4;
  width: 78px;
  height: 24px;
  text-align: center;
  font-weight: 500;
}
.role-banhang,
.usage-medicines {
  border: 1px solid rgb(143 214 237);
  background-color: #cee8fd;

  border-radius: 6px;
  width: 78px;
  height: 24px;
  text-align: center;
  font-weight: 500;
}
.card.mb-3 .table th,
.card.mb-3 .table td {
  text-align: center;
  vertical-align: middle;
}

.card.mb-3 .table .btn-actions {
  display: flex;
  justify-content: center;
}
.role-quanly,
.role-banhang,
.role-bacsi,
.role-staff,
.usage-medicines,
.booked {
  margin: 0 auto;
  text-align: center;
  width: 120px;
}

a {
  text-decoration: none;
}

.form-create,
.form-detail,
.form-edit {
  width: 524px;
  margin: 36px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.form-create,
.form-detail,
.form-edit .form-group {
  margin-bottom: 8px;
  font-weight: 400;
}

.form-create .btn {
  margin-top: 10px;
  width: 154px;
  border-radius: 5px;
}

.required {
  color: red;
  font-weight: 500;
}

[show-alert] {
  display: flex;
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-duration: 0.5s;
  animation-name: alert-hidden;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  /* background: #ffffffc4; */
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
.alert-title-success {
  font-weight: bold;
  color: #28a745; /* Màu chữ xanh lá của alert-success */
}
.alert-title-error {
  font-weight: bold;
  color: #b1272c; /* Màu chữ xanh lá của alert-success */
}
/* end thông báo */

/* img preview */
.img-preview {
  width: 100%;
  height: auto;
  margin-top: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}
.img-preview[src=""] {
  display: none;
}
.form-control-file {
  display: block;
  /* background: #62fdd4ac; */
}
/* end img preview */
.form-create,
.form-edit .btn-primary {
  padding: 10px 16px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* thời gian thực */
.clock {
  border: 2px solid #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0px;
  border-radius: 8px;
  width: 192px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.clock-icon {
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
/* thời gian thực */

.form-create,
.form-detail,
.form-edit .form-group label {
  font-weight: 400;
}
.form-group input.form-control[readonly] {
  background-color: #dcdcdc;
  cursor: not-allowed;
}

.fa-trash-can {
  color: red;
}

.item-action {
  color: black;
  margin-right: 30px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.item-action:last-child {
  margin-right: 0;
  background-color: white;
  border: white;
}

.item-action i {
  font-size: 1rem;
}

.btn-actions a.item-action {
  margin: 10px;
  border: 1px solid rgb(208, 205, 205);
  height: 27.6px;
  border-radius: 5px;
  padding: 0px 7px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-actions button.item-action {
  margin: 10px;
  border: 1px solid rgb(255, 160, 160);
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-actions a.item-action:hover,
.btn-actions button.item-action:hover {
  background-color: #f0f0f0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.display-flex {
  display: flex;
  gap: 16px;
}

table .ant-descriptions-item-label {
  color: rgba(0, 0, 0, 0.65);
  background-color: rgba(11, 11, 11, 0.02);
  width: 25%;
  border-right: 1px solid #d9d9d9;
  font-weight: inherit;
  font-style: inherit;
}
table .ant-descriptions-item-content {
  width: 25%;
  border-right: 1px solid #d9d9d9;
}
table tr th:last-child,
table tr td:last-child {
  border-right: none;
}
.card.mb-3 .table th.ant-descriptions-item-label,
.card.mb-3 .table td.ant-descriptions-item-content {
  padding: 20px 0 20px 28px;
  text-align: left;
}
.booked {
  color: #0958d9;
  background: #e6f4ff;
  border-color: #91caff;
  
  border-radius: 6px;
  width: 78px;
  height: 24px;
  text-align: center;
  /* font-weight: 500; */
  line-height: 24px;
}

#today-btn, #tomorrow-btn {
  height: 38px; /* Điều chỉnh chiều cao phù hợp với input */
  padding: 6px 12px; /* Điều chỉnh độ rộng padding cho nút */
  font-size: 14px; /* Đảm bảo font-size đồng đều với input */
  width: 160px;
}
#tomorrow-btn, #waiting-apponitment{
  border: var(--bs-border-width) solid var(--bs-border-color);
  color: #000;
}

.contact-info {
  /* display: flex; */
  flex-direction: column; /* Đảm bảo tên và số điện thoại nằm trên các dòng riêng biệt */
  /* border: 1px solid #ccc; Thêm border cho cả tên và số điện thoại */
  padding: 8px;
  text-align: left; /* Căn lề trái để mọi thứ gọn gàng */
}

.contact-info span {
  margin-bottom: 5px;
}

.patient-phone, .doctor-phone {
  color: #007bff; /* Màu xanh biển cho số điện thoại */
  font-weight: 400; /* Làm đậm số điện thoại */
}

.contact-info i {
  margin-top: 5px;
  color: #007bff; /* Màu xanh biển cho icon điện thoại */
}

.contact-info #patient, #doctor{
  justify-content: space-around;
  display: flex;
}

.calendar-header{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

table.calendar.table-bordered th {
  text-align: inherit;
  width: calc(100% / 7);
  height: 25px;
  padding-left: 8px;
}


table.calendar.table-bordered td.dimmed {
  opacity: 0.3;
}

table.calendar.table-bordered th {
  text-align: inherit;
}

table.calendar.table-bordered td {
  height: 80px;
  margin-right: 20px;
  padding: 10px 20px 40px 10px;
}

