mixin alert-success(time)
    - if (messages.thanhcong)
        .message.info
            div(
                data-time = time
                class = "alert alert-success"
                show-alert
            ) 
                div(class="alert-title-success") Thành công :  
                | #{messages.thanhcong} 
                <i class="fa-regular fa-circle-xmark" close-alert></i>


mixin alert-error(time)
    - if (messages.thatbai)
        .message.info
            div(
                data-time = time
                class = "alert alert-danger"
                show-alert
            ) 
                div(class="alert-title-error") Thất bại :  
                | #{messages.thatbai} 
                <i class="fa-regular fa-circle-xmark" close-alert></i>