header.header 
    .container-fluid
        .row.align-items-center
            .col-2 
                .inner-logo
                    a(href=`${prefixadmin}`) MEDICAL
                .inner-function     
                    div(class="function-person") Quản lí

            .col-10
                div(class="text-end")
                    a(
                        href=`${prefixadmin}/my-account`
                        class="btn btn-primary btn-sm "
                        style="margin-right: 10px"
                    ) Nguyen Huu Hung
                    