.sider 
    .inner-menu 
        ul 
            li 
                a(href=`${prefixadmin}/user` class="menu-item") <i class="fa-regular fa-user"></i> Người dùng
            li 
                a(
                    href=`${prefixadmin}/auth/logout`
                    class="btn btn-danger btn-sm"
                ) Đăng xuất