extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    .block-main
        if (Role.quyen === "doctor")
            +alert-success("5000")
            
            h4.mb-4 Lịch biểu