extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    .block-main
        if (Role.quyen === "doctor")
            +alert-success("5000")

            .display-flex(style="gap: 20px")

                .sidebar(style="width: 300px;")
                    h4.mb-4 Danh sách
                    .button-group
                        button.btn.btn-outline-secondary Tất cả
                        button.btn.background-color Hôm nay

                .calendar-container(style="flex-grow: 1;")
                    .calendar-header
                        .button-group
                            button.btn.background-color <i class="fa-solid fa-angle-left"></i>
                            button.btn.background-color <i class="fa-solid fa-angle-right"></i>
                        h5#current-date
                        button.btn.background-color.mt-2 Hiện tại
                    table.mt-3.calendar.table-bordered(style="width: 100%; border-right:1px solid #000;")
                        thead
                            tr
                                th CN
                                th Th 2
                                th Th 3
                                th Th 4
                                th Th 5
                                th Th 6
                                th Th 7
                        tbody#calendar-body 
                            

    //- script.     
        